In [ ]:
#Cleaning Data
# Data Cleaning means fixing bad data in your set.
# Bad data coud be:
# Empty Cells 
#DaTA WRONG format data ,Duplicates

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("pets.csv")
df.head()

      Name      Breed       Color Height  Weight Date of Birth
0    Bella   Labrador       Brown     56    25.0      7/1/2013
1  Charlie     Poodle       Black    NaN    23.0     9/16/2016
2     Lucy       Chow  Chow Brown     46    22.0     8/25/2014
3   Cooper  Schnauzer        Gray     49     NaN    12/11/2011
4      Max   Labrador       Black   dkdk    29.0     1/20/2017

In [ ]:
df = pd.read_csv("pets.csv")
df

In [ ]:
df.columns